/*
    Script by Ryan England - Github: stellyes
    https://github.com/stellyes/reset-css-generator
                
    Template for reset.css information:
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
ul,
html,
p,
nav,
img,
a,
h4,
div,
h1,
label,
body,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  display: block;
}
body {
  display: block;
}
